{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}

<h3 h1 class="text-center mb-5"> Do You Want To Create a RDS </h3>
<div class = "col-12 mt-3 position-relativ">
    <a href="{% url 'product-detail' %}" class="btn btn-primary mb-3">Yes</a>
    <a href="{% url 'add-to-cart' %}" class="btn btn-primary mb-3 ">Skip</a>
    <input type=button value="Back" class="btn btn-primary mb-3" onClick="javascript:history.go(-1);">
</div>
.
<div>


.


</div>

<div>



.



</div>


<div>


.

    
</div>
{% endblock main-content %}